@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* HOME PAGE */


.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.homeContainer {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.topHomeSide {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* TOP SIDE */

.wrapperHome {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.leftHomeSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.updateProfile,
.shareTree,
.viewTree,
.requestTreeConnection {
  width: 100%;
  height: 300px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.updateProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 5px;
}

.updateProfile .avatar,
.updateProfile .updateContent {
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImg {
  width: 100px;
  height: 100px;
}
.profileImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


.updateProfile .updateContent {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.heading {
  font-size: 25px;
  font-weight: 600;
}

.updateContentButton,
.personSearchButton {
  background-color: #1f4fc9;
  outline: none !important;
  border: none !important;
  padding: 8px;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.updateContentButton:hover,
.personSearchButton:hover {
  background-color: #2049ad;
}

.shareTree {
  height: 200px;
  padding: 0.5rem;
}

.shareTree .share {
  height: 100%;
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.shareButton {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 10px;
  background-color: #ffffff;
  outline: none;
}

.personSearch,
.quickSearch {
  width: 35%;
  height: 530px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

.personSearch form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  gap: 20px;
}

.personSearch p {
  text-align: center;
}

.personSearch .formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.personSearch input,
.personSearchButton {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 0.5px solid rgb(139, 139, 139);
  border-radius: 3px;
  outline: none;
}

/* BOTTOM SIDE */

.bottomWrapper,
.viewTreeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.viewTreeContainer {
  width: 65%;
  height: 300px;
  justify-content: center;
  gap: 20px;
}

.viewTree .viewTreeContent,
.requestTreeConnection .viewTimeline {
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quickSearch {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.quickSearchUl {
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.quickSearchUl ul {
  list-style: none;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Link {
  color: #1f4fc9;
  text-decoration: none;
}

/* Responsive Code */

/* Medium */
@media (width<992px) {
  .avatar img {
    width: 80px;
    height: 80px;
  }

  .heading {
    font-size: 20px;
  }
}

/* Small */
@media (width<768px) {
  .bottomHomeSide {
    width: 100%;
  }

  .topHomeSide {
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }

  .wrapperHome,
  .personSearch {
    width: 80%;
  }

  .quickSearch {
    width: 80%;
    padding: 0.5rem;
  }

  .bottomWrapper {
    flex-direction: column;
    align-items: center;
  }

  .viewTreeContainer {
    width: 80%;
    flex-direction: column;
    margin-bottom: 150px;
  }

  .quickSearchUl {
    width: 100%;
    height: 100%;
  }

  .headPara {
    font-size: 100%;
    text-align: justify;
  }
}

/* Extra small */
@media (width<576px) {
}

/* Highly Extra small */
@media (width<480px) {
  .share button {
    height: 100%;
    background-color: none;
  }

  .updateContent button {
    padding: 0.5rem;
  }

  .wrapperHome,
  .personSearch {
    width: 90%;
  }

  .quickSearch,
  .viewTreeContainer {
    width: 90%;
  }

  .heading {
    font-size: 18px;
  }

  .headPara {
    font-size: 15px;
  }
}
